.list-group {
    overflow: auto;
    height: 53vh;

    .list-item {
        background-color: #ffffff;
        box-shadow: $dashboard-box-shadow;
        border: solid 0px #ffffff;
        border-radius: 5px;
        margin-top: 22px;

        .main {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .label {
                text-transform: uppercase;
                font-weight: bold;
                font-family: $heading-font-family;
            }

            .btn {
                text-transform: uppercase;
            }
        }


        .additional-data {
            display: flex;
            justify-content: space-between;
            font-family: $text-font-family;
        }

    }

    .list-item.lg {
        font-size: 16px;
        padding: 0 10px;
        margin: 10px 10px;

        .additional-data {
            margin-bottom: 8px;
        }

        .btn {
            width: 25%;
            margin-top: 8px;
            display: block;
        }
    }

    .list-item.sm {
        font-size: 14px;
        padding: 7px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .label {
            display: block;
            margin-bottom: 5px;
        }

        .additional-data {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    .loading-container {
        margin-bottom: 2rem;
    }
}

.list-group.list-card {
    background-color: #ffffff;
    box-shadow: $dashboard-box-shadow;
    border: solid 0px #ffffff;
    border-radius: 5px;
    padding: 10px;
    height: 75vh;
}
