.loading.lg{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
}

.loading.primary{
  color: $primary;
}

.loading.secondary{
  color: $secondary;
}

.loading.default{
  color: white;
}