.modal-title {
    color: $secondary;
    margin: 16px 0;
    text-transform: uppercase;
}

button.btn.modal-confirm-btn {
    font-size: 13px;
    padding-bottom: 8px;
    text-transform: uppercase;
    width: 8rem;
}
