$radius: 5px;

table {
    border-collapse: separate;
    border-spacing: 0 2em;
    margin-top: -2rem;

    thead {
        text-transform: uppercase;
        font-family: $heading-font-family;
        font-size: 16px;
        display: table;
        width: 100%;
        padding-left: 10px;

        tr {
            background: #ffffff;
            border: solid 0px #ffffff;
            border-radius: $radius;
            box-shadow: $dashboard-box-shadow;
            // text-align: center;

            .table-search {
                width: 25%;

                input {
                    height: 30px;
                    border: 2px solid #006397;
                }
            }

            th {
                border: solid 0px #ffffff;
                padding: 10px 8px;

                &:first-child {
                    border-radius: 10px 0 0 10px;
                    text-align: left;
                }

                &:last-child {
                    border-radius: 10px 0 0 10px;
                }
            }
        }
    }

    tbody {
        font-family: $text-font-family;
        font-size: 14px;
        height: 72vh;
        display: block;
        overflow: auto;
        margin-bottom: -2rem;

        tr {
            background: #ffffff;
            box-shadow: $dashboard-box-shadow;
            border-radius: $radius;
            border: solid 0px #ffffff;
            display: table;
            table-layout: fixed;
            width: 97%;
            margin: 10px auto 25px 9px;
            overflow-wrap: break-word;
            border-spacing: 4px;

            td {
                border: solid 0px #ffffff;
                padding: 0 8px;
            }

            .table-picture-wrapper {
                width: 10%;

                .table-picture {
                    border: solid 0px #ffffff;
                    border-radius: 50%;
                    height: 32px;
                    width: auto;
                }
            }

            .table-name {
                font-family: $heading-font-family;
                text-transform: uppercase;
                font-weight: bold;
            }

            .table-button {
                display: flex;

                button {
                    margin-right: auto;
                    text-transform: uppercase;
                    width: 40%;
                    margin: 8px auto;
                    margin-right: 0;
                }
            }
        }

        .table-loading-row {
            background: initial;
            border: none;
            border-radius: none;
            box-shadow: unset;

            .table-loading-data {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;

                .loading {
                    top: unset;
                    left: unset;
                    margin-bottom: 0;
                }
            }
        }
    }
}

td:first-child {
    border-radius: 10px 0 0 10px;
}

td:last-child {
    border-radius: 0 10px 10px 0;
}

@media screen and (max-width: $screenMobileL) {
    tbody {
        height: 68vh;
    }
}

@media screen and (max-width: $screenMobileL) {
    table {
        min-width: 750px;

        tbody {
            max-height: 66vh;
        }
    }
}
