$text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);

footer{
  background: #00000095;
  width: 80%;
  color: #FFFFFF;
  margin-top: 4rem;
  padding: 2rem 2rem;

  ul{
    display: flex;
    justify-content: space-between;

    li{
      flex-basis: 20%;

      h3{
        text-transform: capitalize;
        font-size: 18px;
        font-family: $heading-font-family;
        // text-shadow: $text-shadow;
      }

      ul{
        display: block;

      }
      
      .footer-texts{
        display: block;
        font-family: $text-font-family;
        // text-shadow: $text-shadow;
        margin-bottom: 1rem;

        a{
          text-shadow: none;
        }
      }

      .social-icons span{
        font-size: 20px;
        margin: auto .5rem;
      }
    }
  }
}