$card-p-width: 200px;

.services{
  background: $secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;

  p{
    color: #FFFFFF;
    width: 70%;
    text-align: center;
    font-family: $text-font-family;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
  }

  .card-group{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 4rem auto;
    
    .card{
      background: #FFFFFF;
      max-width: 250px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: #FFFFFF solid 0;
      border-radius: 6px;
  
      .image-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;

        img{
          width: 80%
        }
      }
  
      h3{
        color: $secondary;
        font-weight: bold;
      }
  
      p{
        width: $card-p-width;
        color: #000000;
        padding: .2rem 1rem;
        text-shadow: none;
      }
    }
  }
}