.dashboard{
  height: 100%;
  display: flex;
  flex-direction: column;

  .page-content{
    display: flex;
    justify-content: space-around;

    .grid.lg{
      flex-basis: 55%;
    }

    .grid.sm{
      flex-basis: 35%;
    }
  }

  .monitor{
    
    .card-group{
      display: flex;
      justify-content: space-between;
    }
  }

  .transaction-list{
    
    .heading{
      display: flex;
      justify-content: space-between;
    }
  }

  .withdrawal-list{
    h5{
      margin: 10px auto;
    }
  }
}