.transaction table {

    tr {
        text-align: left;

        th {
            width: 20%;
        }

        td {

            &:nth-child(3) {
                padding-left: 17px;
            }

            &:nth-child(4) {
                padding-left: 20px;
            }

            &:last-child {
                padding-left: 28px;
            }
        }

    }

    tr.name-success .table-name {
        color: $success
    }

    tr.name-danger .table-name {
        color: $danger
    }

    .table-loading-row .table-loading-data {
        padding: 0;
    }
}

.filter-container {
    width: 300px;
}

.export-container {
    width: 250px;
}

@media screen and (max-width: $screenTablet) {
    .transaction table tbody {
        height: 70vh;
    }
}

@media screen and (max-width: $screenMobileL) {
    .transaction div.page-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        h1.page-heading {
            grid-column: 1/3;
            margin-bottom: 5px;
        }

        button.btn {
            width: 80%;
            margin: 10px 0;
        }


    }

    div.filter-container {
        width: 100%;
    }

    div.export-container {
        width: 100%;
    }
}
